
/* Il est temps de créer votre Base de Données (BDD). Ce script permet de vérifier l'existance
 * et de remplir une BDD du nom de "BDD_Hero". Pour ce faire :
 *		1°) Lancer SQL Server Management Studio (SSMS) et connecter vous à (localdb)\MSSQLLocalDB
 *		2°) Créer une nouvelle table BDD_Hero vide
 *		3°) Effectuer un clic droit -> nouveau script
 *		4°) Copier-coller ce script en entier et cliquer sur "débugger"
 *			4-1°) Si une erreur apparait à l'écran, appeler un Code Guru
 *		5°) Cliquer sur Executer le script
 *		6°) Dans le dossier "Tables" sous votre BDD, vous devriez trouver un fichier BDD_Hero
 *			6-1°) Si le SQL et la gestion de BDD vous intéresse, créer de nouveaux scripts pour afficher, modifier ou ajouter des lignes
 *		7°) Dès que vous avez une table de donnée remplie, plus besoin de se script ni de SSMS, fermer tout, passez à la suite!
*/


/****** Object:  Database [BDD_Hero]    Script Date: 02/03/2017 11:50:08 ******/
CREATE DATABASE [BDD_Hero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDD_Hero', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDD_Hero.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDD_Hero_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDD_Hero_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDD_Hero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDD_Hero]
GO
/****** Object:  Table [dbo].[BDD_Hero]    Script Date: 02/03/2017 11:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDD_Hero](
	[Id] [int] NOT NULL,
	[Nom] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Pouvoir] [nvarchar](max) NOT NULL,
	[Citation] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[BDD_Hero] ([Id], [Nom], [Age], [Pouvoir], [Citation], [Photo]) VALUES (1, N'Genji', 35, N'Cyborg Ninja', N'Mon katana est au service du bien!', N'Genji_portrait.png')
INSERT [dbo].[BDD_Hero] ([Id], [Nom], [Age], [Pouvoir], [Citation], [Photo]) VALUES (2, N'Mccree', 37, N'Colt .45', N'Je suis le roi des duels au soleil.', N'Mccree_portrait.png')
INSERT [dbo].[BDD_Hero] ([Id], [Nom], [Age], [Pouvoir], [Citation], [Photo]) VALUES (3, N'Phara', 32, N'Vol et tire des roquettes', N'Place au déluge de la justice!', N'Pharah_portrait.png')
USE [master]
GO
